<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <% form.label :description %>
    <%= form.text_field :description, placeholder:"Task Name" %>
  </div>

  <div class="field mb-3">
    <% form.label :status %>
    <%= form.text_field :status, placeholder:"Status" %>
  </div>

  <div class="field mb-3">
    <% form.label :estimated_time_to_finish %>
    <%= form.text_field :estimated_time_to_finish, placeholder:"Finish By" %>
  </div>

   <div class="field mb-3">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :task_user_id, 
                                    value:current_user.id,
                                    type: :hidden %>

  </div>
  

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
