<!--<p id="notice"><%= notice %></p>-->
<br/>
<br/>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Estimated time to finish:</strong>
  <%= @task.estimated_time_to_finish %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class:"btn btn-secondary" %>
<%= link_to 'Delete', @task, method: :delete, 
                                        data: { confirm: 'Are you sure?' },
                                        class:"btn btn-danger" %>
<%= link_to 'Back', tasks_path, class:"btn btn-dark" %>
